@tailwind base;
@tailwind components;
@tailwind utilities;
@font-face {
  font-family: "WASSFT";
  src: url("../public/assets/ReemKufiFun-Regular.ttf");
}
@font-face {
  font-family: "WASSFTBOLD";
  src: url("../public/assets/ReemKufiFun-Bold.ttf");
}
body {
  background-color: transparent !important;
  @apply font-WASSFONT;
}
.coming-soon-text {
  position: relative;
  padding-left: 26px;
}
.coming-soon-text:before {
  content: "";
  @apply border-dark;
  position: absolute;
  border-style: solid;
  border-width: 0 0 0.16em 0;
  height: 1em;
  width: 22px;
  left: 0;
}
.hero_gradient_default {
  width: 45rem;
  height: 45rem;
  position: absolute;
  border-radius: 100%;
  right: 5em;
  top: -12em;
  top: auto;
  @apply bg-primary/60;
  -webkit-filter: blur(10em);
  -moz-filter: blur(10em);
  -ms-filter: blur(10em);
  -o-filter: blur(10em);
  transition: all ease-in-out;
  z-index: 0 !important;
  -webkit-animation: filter_blur ease-in 5s infinite alternate-reverse;
  -moz-animation: filter_blur ease-in 5s infinite alternate-reverse;
  -ms-animation: filter_blur ease-in 5s infinite alternate-reverse;
  -o-animation: filter_blur ease-in 5s infinite alternate-reverse;
  animation: filter_blur ease-in 5s infinite alternate-reverse;
  animation-fill-mode: forwards;
}
@-webkit-keyframes filter_blur {
  from {
    filter: blur(10em);
  }
  to {
    filter: blur(7em);
  }
}
@-moz-keyframes filter_blur {
  from {
    filter: blur(10em);
  }
  to {
    filter: blur(7em);
  }
}
@-ms-keyframes filter_blur {
  from {
    filter: blur(10em);
  }
  to {
    filter: blur(7em);
  }
}
@-o-keyframes filter_blur {
  from {
    filter: blur(10em);
  }
  to {
    filter: blur(7em);
  }
}
@keyframes filter_blur {
  from {
    filter: blur(10em);
  }
  to {
    filter: blur(7em);
  }
}
.hero_gradient_default_dark {
  width: 30rem;
  height: 30rem;
  position: absolute;
  border-radius: 100%;
  right: 25em;
  top: 1rem;
  background-color: #e3427a;
  /* @apply bg-primary/50; */
  -webkit-filter: blur(18em);
    -moz-filter: blur(18em);
    -ms-filter: blur(18em);
    -o-filter: blur(18em);
  transition: all ease-in-out;
  z-index: 0 !important;
  -webkit-animation: filter_blur_base ease-in 3s infinite alternate-reverse;
  -moz-animation: filter_blur_base ease-in 3s infinite alternate-reverse;
  -ms-animation: filter_blur_base ease-in 3s infinite alternate-reverse;
  -o-animation: filter_blur_base ease-in 3s infinite alternate-reverse;
  animation: filter_blur_base ease-in 3s infinite alternate-reverse;
  animation-fill-mode: forwards;
}
@media (max-width: 767px) {
  .hero_gradient_default_dark {
    right: 0;
    bottom: 0;
  }
}
@-webkit-keyframes filter_blur_base {
  from {
    filter: blur(18em);
  }
  to {
    filter: blur(25em);
  }
}
@-moz-keyframes filter_blur_base {
  from {
    filter: blur(18em);
  }
  to {
    filter: blur(25em);
  }
}
@-ms-keyframes filter_blur_base {
  from {
    filter: blur(18em);
  }
  to {
    filter: blur(25em);
  }
}
@-o-keyframes filter_blur_base {
  from {
    filter: blur(18em);
  }
  to {
    filter: blur(25em);
  }
}
@keyframes filter_blur_base {
  from {
    filter: blur(18em);
  }
  to {
    filter: blur(25em);
  }
}
.navlink > a {
  background-color: transparent;
  padding: 8px 0px;
  position: relative;
  z-index: 999999999;
}
.navlink > a:hover:before {
  content: "";
  display: inline-block;
  @apply bg-dark;
  width: 100%;
  height: 2px;
  left: 0;
  bottom: 0;
  position: absolute;
  z-index: 1;
  transition: width ease-in-out;
  animation: navlinkhover 0.4s;
}
@keyframes navlinkhover {
  from {
    width: 0%;
  }
  to {
    width: 100%;
  }
}

.foot_links > a {
  background-color: transparent;
  padding: 8px 0px;
  position: relative;
  z-index: 999999999;
}
.foot_links > a:hover:before {
  content: "";
  display: inline-block;
  @apply bg-dark;
  width: 100%;
  height: 2px;
  left: 0;
  bottom: 0;
  position: absolute;
  z-index: 1;
  transition: width ease-in-out;
  animation: linkhover 0.4s;
}
@keyframes linkhover {
  from {
    width: 0%;
  }
  to {
    width: 100%;
  }
}
